<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>移动端公共页面抽取</title>
</head>
<body>

<nav class="navbar nav-me navbar-light" th:fragment="nav">
    <div class="container">
        <a class="d-flex align-items-center text-decoration-none " href="/">
            <img src="/img/logo-256.png" alt="" class="d-inline-block align-text-top logo-me"
                 style="margin-right: 16px">
            <span class="fs-1 text-black fw-bolder">互联自助打印服务</span>
        </a>
    </div>
</nav>

</body>
</html>