<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公共部分</title>
</head>
<body>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="pc-menu">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <img src="/img/logo-256.png" alt="logo" width="36px">
            </div>
            <div class="sidebar-brand-text mx-3">互联自助打印服务</div>
        </a>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" id="print_menu">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>激光打印</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">请选择打印类型：</h6>
                    <a class="collapse-item " id="print_item_image" href="/print/image">图片打印</a>
                    <a class="collapse-item" id="print_item_pdf" href="/print/pdf">PDF打印</a>
                    <a class="collapse-item" id="print_item_word" href="/print/docx">Word文档打印</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item" id="make_menu">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>制图并打印</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">请选择你要制作的类型:</h6>
                    <a class="collapse-item" href="utilities-color.html" id="make_item_code">二维码打印</a>
                    <a class="collapse-item" href="utilities-color.html" id="make_item_card">身份证打印</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            非印刷功能
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Charts -->
        <li class="nav-item" id="scan_menu_item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>扫描文档</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item" id="log_menu_item">
            <a class="nav-link" href="/log/changelog">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>更新日志</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-table"></i>
                <span>返回首页</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white" th:fragment="pc_footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy氯磷Rolin
                    <a class=" link-secondary" href="http://beian.miit.gov.cn/"
                       target="_blank">粤ICP备2020103045号</a>
                    <a class=" link-secondary"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44520202000396"
                       target="_blank">
                    <img src="//cdn.jsdelivr.net/gh/LIlGG/halo-theme-sakura@1.3.1/source/images/other/gongan.png">
                        粤公网安备 44520202000396号
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->


    <!-- ajax加载动画 -->
    <div id="loading" class=" position-absolute h-100 w-100  justify-content-center align-items-center d-none" style="top: 0;left:0;background-color: rgba(223, 224, 232, 0.6);" th:fragment="ajax">
        <div class="d-flex align-items-center ">
            <strong class="fs-1">正在提交中，请稍等片刻......   </strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"
                 style="width: 4em;height: 4em;"></div>
        </div>
    </div>


</body>
</html>